.input, .submit {
    display: block;
    padding: var(--gap);
    margin: var(--gap) 0;
    outline: none;
    border: none; /* resets */
    border: 1px solid var(--black);
    border-radius: var(--gap-sm);
    transition: border-color var(--animation-timing-sm) ease-out;
}
    .input:hover {
        border-color: var(--skyblue);
    }

.submit {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 150px;
    background: var(--green);
    color: var(--white);
    border: none;
    transition: background var(--animation-timing-sm) ease-out;
}
    .submit:hover {
        background: var(--green-alt);
    }